#useDynLib(CARMS)
#useDynLib(CARMS, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "abline", "axis", "curve", "legend", "lines",
		 "par", "plot", "plot.default", "points", "segments",
		 "title", "layout", "layout.show")
importFrom("stats", "approxfun", "na.omit",
		 "pexp", "rexp", 
		 "smooth.spline")
importFrom("utils", "modifyList")
importFrom("grDevices", "dev.new")
importFrom("methods", "is")
importFrom("diagram", "plotmat")

export(
	carms.make,
	carms.state,
	carms.base,	
	carms.arrow,
	diagram.carms,
	simulate.carms,
	matP,
#	StochasticChain,
#	RungeKutta,
#	BackwardDifference,
	plot.carms,
diagram
)
S3method(plot, carms) 
S3method(simulate, carms)