#useDynLib(CARMS)
#useDynLib(CARMS, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "abline", "axis", "curve", "legend", "lines",
		 "par", "plot", "plot.default", "points", "segments",
		 "title", "layout", "layout.show")
importFrom("stats", "approxfun", "na.omit",
		 "pexp", "rexp", 
		 "smooth.spline")
importFrom("utils", "modifyList")
importFrom("grDevices", "dev.new")
importFrom("methods", "is")

export(
	carms.make,
	carms.state
#	carms.arrow,
#	diagram.carms,
#	ChainedSimulation,
#	plot.carms
)
#S3method(plot, carms) 
#S3method(diagram, carms)